* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(circle at top right, #3a0ca3, #0f172a);
    color: white;
    min-height: 100vh;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 60px;
    align-items: center;
}

.navbar ul {
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
}

.hire-btn {
    background: linear-gradient(45deg, #9333ea, #6366f1);
    border: none;
    padding: 8px 18px;
    border-radius: 20px;
    color: white;
    cursor: pointer;
}

/* HERO */
.hero {
    padding: 60px;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

/* GLASS EFFECT */
.glass-card {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    padding: 30px;
    border: 1px solid rgba(255,255,255,0.2);
}

.small-card {
    width: 30%;
}

.big-card {
    width: 40%;
}

.badge {
    background: #6366f1;
    padding: 6px 12px;
    border-radius: 12px;
    font-size: 12px;
}

.highlight {
    color: #a855f7;
}

/* PROFILE */
.profile-section {
    margin-top: 20px;
    position: relative;
}

.profile-section img {
    width: 180px;
    border-radius: 20px;
}

.skills-tag {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background: white;
    color: black;
    padding: 5px 12px;
    border-radius: 15px;
    font-size: 12px;
}

/* TIMELINE */
.timeline {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.year {
    margin: 10px 0;
}

.line {
    width: 2px;
    height: 100px;
    background: white;
}

.dot {
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 50%;
}

/* SKILLS */
.skills {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 40px;
}

.skill {
    background: rgba(255,255,255,0.1);
    padding: 10px 20px;
    border-radius: 20px;
}

/* PROJECTS */
.projects {
    padding: 60px;
}

.project-container {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.project-card {
    flex: 1;
    padding: 20px;
    border-radius: 15px;
    background: rgba(255,255,255,0.08);
    border: 1px solid rgba(255,255,255,0.2);
}
