* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: radial-gradient(circle at 80% 20%, #7c3aed 0%, transparent 40%),
                radial-gradient(circle at 20% 80%, #9333ea 0%, transparent 40%),
                #0f172a;
    color: white;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 25px 80px;
}

.navbar ul {
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
}

.navbar a {
    text-decoration: none;
    color: white;
}

.resume-btn {
    background: linear-gradient(90deg, #9333ea, #6366f1);
    padding: 8px 20px;
    border-radius: 20px;
}

/* HERO */
.hero {
    padding: 80px;
}

.hero-container {
    display: flex;
    gap: 50px;
}

/* GLASS */
.glass-card {
    background: rgba(255,255,255,0.07);
    backdrop-filter: blur(25px);
    padding: 40px;
    border-radius: 25px;
    border: 1px solid rgba(255,255,255,0.2);
    flex: 1;
}

.badge {
    background: #4f46e5;
    padding: 6px 14px;
    border-radius: 15px;
    font-size: 12px;
}

.highlight {
    color: #a855f7;
}

.primary-btn {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    background: white;
    cursor: pointer;
}

.profile-box {
    margin-top: 25px;
    position: relative;
}

.profile-box img {
    width: 220px;
    border-radius: 20px;
}

.tag {
    position: absolute;
    bottom: 12px;
    left: 12px;
    background: white;
    color: black;
    padding: 6px 14px;
    border-radius: 15px;
    font-size: 12px;
}

/* SKILLS */
.skills {
    padding: 80px;
}

.skills-container {
    display: flex;
    gap: 25px;
    margin-top: 30px;
}

.skill-card {
    flex: 1;
    background: rgba(255,255,255,0.07);
    padding: 30px;
    border-radius: 20px;
    border: 1px solid rgba(255,255,255,0.2);
}

/* PROJECTS */
.projects {
    padding: 80px;
}

.projects-container {
    display: flex;
    gap: 25px;
    margin-top: 30px;
}

.project-card {
    flex: 1;
    padding: 30px;
    border-radius: 20px;
    background: rgba(255,255,255,0.07);
    border: 1px solid rgba(255,255,255,0.2);
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 0 30px rgba(147, 51, 234, 0.5);
}

.tech {
    display: block;
    margin-top: 15px;
    opacity: 0.7;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 40px;
    opacity: 0.6;
}
